.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  overflow-x: scroll;
}

.header::-webkit-scrollbar {
  display: none;
}

.header {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
  transition: tranform 0.5s ease-out;
}

.header__icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  cursor: pointer;
}

.header__icon > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.header__icon > p {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
  display: none;
}

.header__icon:hover > p {
  display: inline-flex;
}

.header__icon--active > p {
  display: inline-flex !important;
}

.header > img {
  height: 35px;
  object-fit: contain;
}
