.videoCard {
  color: white;
  width: 450px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;
}

.videoCard:hover {
  transform: scale(1.09);
}

.videoCard > img {
  height: 300px;
  width: 450px;
  object-fit: contain;
}

.videoCard > h2 {
  padding-top: 10px;
}

.videoCard__stats {
  display: none;
}
.videoCard:hover > .videoCard__stats {
  display: inline;
}
